@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin product-image($bottle) {
    background-image: url('/images/'+$bottle+'.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin showcase-box{
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
}