/////////////////////////////////////////////
//// Colors
$main-color: #F5E5D9;
$main-color-light: #F6F6F6;
$secondary-color: #272727;

$color-white: #FFFFFF;
$color-black: #000000;

/////////////////////////////////////////////
//// Fonts
$main-font: 'PT Sans', sans-serif;
$secondary-font: 'Playfair Display', sans-serif;

