/////////////////////////////////////////////
//// Colors
$main-color: #f5e6da;
$main-color-light: #F6F6F6;
$secondary-color: #272727;
$hover-color: #d8c7b8;

$color-white: #FFFFFF;
$color-black: #000000;

$vnda-color: #F9CA9C;

$bottle-1: #DBE9E9;
$bottle-2: #E7E3D8;
$bottle-3: #CFCCD3;
$bottle-4: #FFF4BF;

/////////////////////////////////////////////
//// Fonts
$main-font: 'PT Sans', sans-serif;
$secondary-font: 'Playfair Display', sans-serif;
